<div id="view_costs">
  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th>カテゴリー</th>
        <th></th>
        <th>金額</th>
        <th>詳細</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  <% fixed_costs.includes(:categories).each do |fixed_cost| %>
  <tbody class="fixed_cost">
    <tr>
    <% unless fixed_cost.categories.present? %>
      <td></td>
    <% else %>
      <td><%= fixed_cost.categories.map(&:cat_name).first %></td>
    <% end %>
    <% if @monthly_view == "true" %>
      <td><%= I18n.t('views.words.monthly') %></td>
      <td><%= fixed_cost.payment.to_s(:delimited) %>円</td>
    <% else @monthly_view == "false" %>
      <td><%= I18n.t('views.words.annual') %></td>
      <td><%= annual_payment(fixed_cost).to_s(:delimited) %>円</td>
    <% end %>

    <td><%= fixed_cost.content %></td>
    <% if fixed_cost.user == current_user %>
      <td><%= link_to edit_fixed_cost_path(fixed_cost.id), class: 'btn btn-primary btn-sm' do %>
        <i class="fas fa-edit"></i>
      <% end %></td>

      <td><%= link_to fixed_cost_path(fixed_cost.id), method: :delete, remote: true, class: 'btn btn-danger btn-sm delete', data: { confirm: "削除していいですか？" } do %>
        <i class="far fa-trash-alt"></i>
      <% end %></td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>
    </tr>
  </tbody>
  <% end %>
  </table>
</div>
