<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-6">
      <% if current_user.id == @user.id  %>
        <h2 class="text-center"><%= image_tag @user.image.url, class: "rounded-circle" if @user.image && @user.image.url || @user.image.present? %>
        わたしの固定支出</h2>
        <br>
      <% else %>
        <h2 class="text-center"><%= image_tag @user.image.url, class: "rounded-circle" if @user.image && @user.image.url || @user.image.present? %>
        <%= @user.name %>さんの固定支出</h2>
      <% end %>
      <div class="text-center">
        <div class="d-flex justify-content-center">
          <% if current_user.id == @user.id %>
            <%= link_to "固定費作成", new_fixed_cost_path, class: "btn btn-success btn-sm mr-3" %>
          <% end %>
          <%= render 'view_btn', monthly_view: @monthly_view %>
        </div>
        <!-- user: @userはパーシャルで使うためにローカル変数に代入している -->
        <%= render 'relationships/follow_form', user: @user if current_user != @user %>
      </div>
      <%= render 'pie_graph', monthly_view: @monthly_view %>
      <%= render 'view_costs', { fixed_costs: @fixed_costs, monthly_view: @monthly_view } %>
      <%= paginate @fixed_costs, theme: 'twitter-bootstrap-4' %>
      
      <span class="text-danger">
        <p id="notice"><%= flash[:notice1] %></p>
      </span>
      <%= render partial: 'comments/form', locals: { comment: @comment, user: @user } %>
      <br>
      <!-- <p>コメント一覧</p> -->
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, user: @user } %>
      </div>
    </div>

    <div class="col-md-3 mt-5">
      <div class="sidebar-item">
        <div class="make-sticky">
          <% unless current_user.id == @user.id %>
            <small class="">家族構成</small>
            <div class="card shadow-sm p-3">
              大人：<%= @user.adult_number %>人　
              子供：<%= @user.child_number %>人
            </div><br>
            <small class="">プロフィール</small>
            <div class="card shadow-sm p-3 ">
              <%= @user.profile %>
            </div><br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
